
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
}

.App {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.inputSection {
  margin-bottom: 20px;
}

.inputSection h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.Select__control {
  border-radius: 5px;
  border-color: #ccc;
}

.Select__menu {
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
